Django==3.1.12
django-crispy-forms==1.9.0
Jinja2==2.11.3
mysql-connector==2.2.9
mysql-connector-python-rf==2.2.2
Pillow==8.2.0
pipenv==2018.11.26
virtualenv==20.0.13
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6